body {
    font-family: sans-serif;
}
header{
    background-color:LightBlue ;
    padding: 10px;
}
header a{
    background-color: darkblue;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
}
main h1{
    border: 2px solid lightseagreen;
    border-radius: 10px;
    background-color: lightblue;
    padding: 15px;
    text-align: center;
    color: aliceblue;
}
footer{
    
    padding: 2px;
    background-color:powderblue ;

}
footer p{
   border: 2px solid powderblue; 
   background-color:white;
}
nav{
    padding: 15px;
}
nav a{
    text-decoration: none;
    color:white ;
    background-color: lightsteelblue;
    padding: 10px;
    border: 4px dotted cornflowerblue;
    border-radius: 10px;
}
.products{
   background-color: lightblue ;
   padding: 15px;
   border-radius: 15px;
   border: 4px dotted darkblue;
}

main h2{
    color: darkblue;
    font-style: oblique;
    text-decoration: none;
}
.links{
    color: white;
    background-color:lightsteelblue ;
    border: 4px dotted darkblue;
    border-radius: 10px ;
    padding: 10px;
    text-decoration: none;
}

